body {
	background-color: #ffffe0;
}
* {
	box-sizing: border-box; /* Використовується розмір для всіх блоків */
}

h1,
h2 {
	text-align: center;
}
h1 {
	color: #cc0000;
	font-weight: 700;
	font-size: 26px;
}

h2 {
	font-weight: 300;
	font-size: 20px;
}

.first {
	color: #cc0000;
	text-align: center;
}
#but {
	font-style: italic;
	color: chartreuse;
}

.box {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 300px;
	background-color: green;
	padding: 20px 30px 50px 55px;
	/* 	border-width: 3px;
	border-style: solid;
	border-color: black; */
	border: 3px solid red;
	margin: 20px;
	z-index: 5;
}
.mainscreen {
	width: 500px;
	display: block;
	margin: 0 auto;
	/* float: left; -- обтікання тесту справа*/
}
.red {
	left: 80px;
	background-color: red;
	z-index: -3;
	height: 100px;
}
.example {
	position: relative;
}
